* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

.theme {
  --theme: hsla(0, 0%, 100%, 1);

  --primary-color: hsl(240, 6%, 21%);
  --bg-card-sound: hsl(240, 9%, 89%);
  --bg-sound-select: hsl(194, 97%, 31%);
}

.dark {
  --theme: hsla(240, 5%, 7%, 1);

  --primary-color: hsla(0, 0%, 100%, 1);
  --bg-card-sound: hsla(240, 6%, 17%, 1);
  --bg-sound-select: hsl(194, 97%, 31%);
  --bg-buttons-icon-dark: hsla(240, 7%, 78%, 1);
}

body {
  font-family: 'Robo', sans-serif;

  color: var(--primary-color);
  background: var(--theme);

  /* display: flex;  */
  align-items: center;
  /* text-align: center; */
  justify-content: space-around; 

  height: 100vh;

  gap: clamp(1rem, 10vw, 19rem);
  transition: 1s;
}

header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  /* margin: 0 6.4rem; */
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 13rem auto;
}

.counter {
  max-width: 32.1rem;
  margin-right: 19rem;

  font-size: 12rem;
}

.pause {
  width: 4.8rem;
}

.buttons {
  margin-top: 1.7rem;

  display: flex;
  justify-content: space-between;

  transition: 1s;
}

button {
  background-color: transparent;
  border: none;

  cursor: pointer;
}

.sounds {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 38rem;
  gap: 3.2rem;
}

.card {
  background-color: var(--bg-card-sound);

  border-radius: 2.4rem;
  max-width: 13rem;
  max-height: 15rem;
  padding: 4.8rem 4.2rem;
  cursor: pointer;
}

button.active {
  background-color: var(--bg-sound-select);
}

.active path {
  fill: var(--bg-card-sound);
}

.hide {
  display: none;
}

.switch {
  display: none;
}

label {
  cursor: pointer;
  margin: 3.6rem;
}

#volume {
  position: absolute;
}

/* -------dark--------- */

.dark button svg path {
  fill: var(--bg-buttons-icon-dark);
}

@media (max-width: 800px) {
  main {
    flex-direction: column;
    margin: auto;
  }

  header {
    margin: 2.5rem 2.5rem;
  }

  .counter {
    margin: 3rem auto 1.5rem;
  }

  .buttons {
    margin: 3rem 0 0;
  }

  .sounds {
    display: flex;
    flex-wrap: wrap;
    margin: 2.5rem auto;
    gap: 3rem;
    max-width: 30rem;
  }

  svg {
    text-align: center;
    align-items: center;
    height: 5rem;
  }
}

@media (min-width: 800px) {
  /* header {
    margin: 3rem 3rem;
  } */
}